.header {
  background-color: #e4b062;

  height: 118px;
  max-height: 118px;
  min-width: 320px;
}
.nav {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  align-items: center;
  padding: 28px 16px;
}
.logo__mobile {
  width: 68px;
  height: 62px;
}
.logout {
  width: 62px;
  height: 58px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 21px;
  gap: 10px;
}

h1 {
  display: none;
}
.nav__logout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.userlogin {
  display: none;
}
@media screen and (min-width: 740px) {
  .logo {
    margin-left: 16px;
  }
  h1 {
    margin-top: -5px;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    margin-bottom: 5px;
    display: block;
  }
  .userlogin {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }
}
